# Virtual-env
venv/

# Python
__pycache__/
*.py[cod]

# Large raw exports
data_exports/
*.zip
*.csv
# Secrets
.env

export/apple_health_export

venv/
__pycache__/
.env
*.zip
.idea/

repo/data/gurus.csv

repo/data/apple.zip

repo/data/loseit.zip
